/* Universal style */

* {
    margin: 0;
    padding: 0;
}


/* Header Style */
.btn-primary {
    border: none;
    color: #fff;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    background: #E55473;
    padding: 20px 40px;
    cursor: pointer;
}

header {
    background: rgba(229, 84, 115, 0.10);
    width: 100vw;
    height: 850px;
}

.chose-me {
    color: #272727;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 800;
    margin-top: 100px;
}
.service-section {
    display: flex;
    align-content: space-between;
    justify-content: center;
    margin: 30px 240px 0px;
    gap: 50px;
    font-family: ;
}
.free-delivery {
    color: #272727;
    height: 150px;
    width: 100%;
    background: rgba(71, 125, 17, 0.15);
    border-radius: 5px;
    padding: 20px;
    line-height: 30px;
    text-align: center;
}
.care {
    color: #272727;
    height: 150px;
    width: 100%;
    background: rgba(167, 33, 98, 0.15);
    border-radius: 5px;
    padding: 20px;
    line-height: 30px;
    text-align: center;
}
.exclusive-design {
    color: #272727;
    height: 150px;
    width: 100%;
    background: rgba(5, 151, 160, 0.15);
    border-radius: 5px;
    padding: 20px;
    line-height: 30px;
    text-align: center;
}

.service-title {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 600;
    padding-top: 30px;
}
.service-brief {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.section-area {
    margin: 180px 0px 150px 230px;
}
.section-title {
    color: #272727;
    font-size: 65px;
    font-weight: 800;
    width: 700px;
}

.section-brief {
    margin: 30px 0;
    width: 630px;
    color: rgba(33, 33, 33, 0.67);
    font-size: 17px;
    font-weight: 400;
}
.header-img {
    margin: 50px 230px 0px 100px;
}
.feature-section {
    color: #272727;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 180px 660px 25px;
}
.feature-title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}
.feature-brief {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}
.flower a {
    color: #272727;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-decoration-line: underline;
}
.feature-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 240px 130px;
    gap: 30px;
}
.feature-flower-img {
    display: flex;
    align-items: center;
    margin: 0px 240px 150px;
    gap: 30px;
}
.flower-pink {
    width: 464px;
    height: 530px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    text-align: center;

}
.pink {
    width: 310px;
    height: 430px;
    margin: 100px 75px 30px;
}

.flower-bouquet {
    width: 464px;
    height: 530px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    text-align: center;
}
.bouquet {
    width: 370px;
    height: 370px;  
    margin: 100px 75px 90px; 
}

.flower-yellow {
    width: 464px;
    height: 530px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    text-align: center;

}
.yellow {
    width: 314px;
    height: 471px;  
    margin: 60px 75px 30px; 
}


.hot-deal-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
    width: 100vw;
    height: 600px;
    gap: 180px;
}
.hot-deal-section {
    padding: 230px 0 160px 400px;
    text-align: center;
}
.hot-deal-title {
    color: #272727;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}
.deal {
    color: #ed5476;
}
.hot-deal-brief {
    color: rgba(39, 39, 39, 0.839);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 20px 0;
}
.hot-deal-img {
    padding: 0 300px 0 70px;
    width: 300px;
    height: 400px;
}
.insta-container {
    text-align: center;
    margin-top: 130px;
    gap: 25px;
    padding: 0 660px;
}
.insta-title {
    color: #272727;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    padding-bottom: 10px;
}
.insta-brief {
    color: rgba(39, 39, 39, 0.924);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 50px;
}
.flower-vase {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    margin: 0 240px;
}

.latest-deal-section {
    background-image: url('./asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    height: 450px;
    width: 1440px;
    margin: 130px auto;
}

.latest-deal-container {
    text-align: center;
    padding: 120px 0px 50px;
}

.latest-deal-title {
    color: #272727;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 800;
}
.latest-deal-brief {
    color: rgba(39, 39, 39, 0.924);
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.subscribe-area {
    margin: 0px 285px 120px;
}

.subscribe-input {
    color: rgba(39, 39, 39, 0.60);
    border: 0;
    width: 650px;
    border-radius: 8px;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0px 10px 120px 285px;
    padding: 22px;
}

footer {
    background: #181818;
    text-align: center;
}
.footer-section {
    padding: 130px 650px;
}
.footer-title {
    color: #fff;
    font-weight: 800;
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
}
.footer-brief {
    color: rgba(255, 255, 255, 0.90);
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 30px;
    padding: 20px 0;
}
.copyright {
    color: rgba(255, 255, 255, 0.40);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}